*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif !important;
}

.hero{
    padding: 10px;
    margin-top: 40px;
    /* color: white !important; */
}
.brand-name{
    color: skyblue;
    font-family: 'Ubuntu', sans-serif;
}
.hero-right-con{
    padding-top: 80px;    
}

.hero-img{
    height: 30rem;
    width: 20rem;
    margin-left: 160px;
}

.btn-con{
    display: flex;
    flex-direction: row;
    gap: 18px;
}

a{
    text-decoration: none !important;
}

.bx{
    font-size: x-large;
}
.uml_diagram{
    height: 25rem !important;
    width: 40rem !important;
    object-fit: contain;
}

@media only screen and  (max-height:450px){
    .uml_diagram{
        height: 20rem !important;
        width: 25rem !important;
        object-fit: contain;
    }
}